.friend-box {
    border: 1px solid black;
    width: 100%;
    display: flex;
}

.friend-icon img{
    width:60px;
    height:60px;
    border-radius:50%;
    border: 4px solid black;
}

.all-friends-box {
    display: flex;
    flex-flow: column;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
    top: 65px;
    margin-bottom: 128px;
}

header {
    position: fixed;
    z-index: 5;
    background-color: white;
}

footer {
    position: fixed;
    z-index: 5;
}

.footer-container {
    background-color: white;
}

.friend-name {
    height: 50%;
    width: 50%;
    text-align: left;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.one-friend-box {
    width: 100%;
}

button {
    padding: 0;
}

.content-box {
    height: 100%;
    writing-mode: 100%;
    display: flex;
    flex-direction: column;
}

.friend-name {
    padding-left: 20px;
    width: 100%;
}

p {
    margin: 5px 0;
}

.message-box {
    color: gray;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.right-message {
    position: absolute;
    right: 20px;
} 
