form {
    margin: 10px 0;
    width: 100%;
    text-align: center;
}
button {
    border-radius: 5px;
    height: 36px;
    width: 150px;
    margin: 20px;
    text-align: center;
}

.footer{
    width: 100vw;
}

.footer, .footer-container {
    background-color: white;
}