{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="/static/myapp/css/friends.css" />
{% endblock %}

{% block header-title %}友達{% endblock header-title %}

{% block content %}

    <div class="all-friends-box">

        {% for friend, last_message in friend_details.items %}
        <a href="{% url 'talk_room' friend.id %}">
            <button class="friend-box">
                <div class="friend-icon">
                    <img src="/media/{{ friend.image }}" alt="">
                </div>
                <div>
                    {{ friend.username }}
                </div>
                <div>
                    {% if last_message %}
                        {{ last_message.message }}--{{last_message.date}}
                    {% endif %}
                </div>
            </button>
        </a>
    {% endfor %}
    </div>

{% endblock content %}
