{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="/static/myapp/css/friends.css" />
{% endblock %}

{% block header-title %}友達{% endblock header-title %}

{% block content %}

    <div class="all-friends-box">

        {% for friend in friend_details %}
        <div class="one-friend-box">
            <a href="{% url 'talk_room' friend.id %}">
                <button class="friend-box">
                    <div class="friend-icon">
                        <img src="/media/{{ friend.image }}" alt="">
                    </div>
                    <div class="content-box">
                        <div class="friend-name">
                            <p>{{ friend.username }}</p>
                        </div>
                        <div class="message-box">
                            {% if friend.latest_message %}
                            <div class="left-message">
                                {{ friend.latest_message }}
                            </div>
                            <div class="right-message">
                                {{ friend.latest_message_date|date:'m/d H:i' }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
    
                </button>
            </a>
        </div>

    {% endfor %}
    </div>

{% endblock content %}
