{% extends "myapp/base.html" %}
{% load static %}

{% block header-title %}ログイン{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_username">Username:</label>
            <input type="text" id="id_username" name="username">
        </div>
        <div>
            <label for="id_password">Password:</label>
            <input type="password" id="id_password" name="password">
        </div>
        <button type="submit">Login</button>
    </form>
    {% if form.errors %}
        <p>ユーザー名とパスワードが一致しません。</p>
    {% endif %}
{% endblock content %}
{% block footer %}{% endblock  %}