{% extends "myapp/base.html" %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css" href="/static/myapp/css/talk_room.css" />
{% endblock %}

{% block header-title %}
    <div class="back-page">
        <a href="{% url 'friends' %}">
            <
        </a>
    </div>
    {{friend.username}}
    <div class="refresh">
        <button id="refresh-button">
            更新
        </button>
    </div>
{% endblock header-title %}


{% block content %}

<div class="all-messages-box">
    {% for message in message_list %}
    <div class="message-box">
        <div>
            {{ message.send_user }} -> {{ message.receive_user }}
        </div>
        <div>
            {{message.message}} ({{message.date|date:'m/d H:i'}})
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}


{% block footer %}
<footer class="footer">
    <div class="footer-container">
        <form method="post" action="{% url 'talk_room' friend_id=friend.id %}">
            {% csrf_token %}
            {{ form.message }}
            <button type="submit">送信</button>
        </form>
    </div>
</footer>

<script>
    document.getElementById("refresh-button").addEventListener("click", function() {
        location.reload(); // ページをリロード
    });
</script>



{% endblock %}